<div class="content-wrapper container-fluid">
  <app-user-info-form
    *ngIf="!isLoading"
    [countries]="countries"
    [accountInfo]="accountInfo"
    buttonName="Update"
    (buttonClicked)="onUpdateAccount($event)"
  ></app-user-info-form>
  <app-loading *ngIf="isLoading"></app-loading>
</div>
