<div class="content-wrapper container-fluid">
  <div *ngIf="!isLoading">
    <div class="search">
      <app-search
        (emitSearchKeyValue)="setSearchKey($event)"
        *ngIf="sessionService.userSession.authLevel > 0"
      ></app-search>
      <app-create-shipment
        [tiers]="tiers"
        [countries]="countries"
        (shipmentCreated)="triggerShipmentUpdate('active')"
      ></app-create-shipment>
    </div>
    <app-shipments-table
      *ngIf="sessionService.userSession.authLevel > 0"
      [shipments]="shipments"
      [shipmentStatuses]="shipmentStatuses"
      [searchKey]="searchKey"
      (shipmentType)="setShipmentType($event)"
      (shipmentChanged)="triggerShipmentUpdate($event)"
    ></app-shipments-table>
  </div>
  <app-loading *ngIf="isLoading"></app-loading>
</div>
