<div class="col-sm-auto">
  <button type="button" (click)="openModal(createCountryTemplate)">
    <span *ngIf="screenWidth > minScreenWidth">Add Country</span>
    <span *ngIf="screenWidth <= minScreenWidth">+</span>
  </button>
</div>

<ng-template #createCountryTemplate>
  <app-country-form
    heading="Create Country"
    buttonName="Add"
    [modalRef]="modalRef!"
    (buttonClicked)="onButtonClicked($event)"
  ></app-country-form>
</ng-template>
