<section>
  <div class="content-wrapper container-fluid">
    <div class="content">
      <div class="info">
        <h4>The page cannot be found</h4>
        <button type="button" (click)="onClick()">
          go to create Shipments
        </button>
      </div>
    </div>
  </div>
</section>
