<div class="content-wrapper container-fluid">
  <div *ngIf="!isLoading">
    <div class="search">
      <app-search (emitSearchKeyValue)="setSearchKey($event)"></app-search>
      <app-create-country
        (countryCreated)="createNewCountry($event);"
      ></app-create-country>
    </div>
    <app-country-table
      [countries]="countries"
      [searchKey]="searchKey"
      (countryUpdated)="updateCountry($event);"
    ></app-country-table>
  </div>
  <app-loading *ngIf="isLoading"></app-loading>
</div>
