table,
td,
th {
  border: 2px solid black !important;
}

table {
  width: 100% !important;
  border-collapse: collapse !important;
}
.form-control {
  float: right;
  width: 100%;
}
.input-field {
  width: 30%;
}
.col-auto {
  float: right;
}
