<div class="container">
  <div class="main">
    <div class="col-md-12 col-lg-12">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <label>First Name</label>
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
            />
            <div
              *ngIf="submitted && f.firstName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.firstName.errors.required">
                First Name is required
              </div>
              <div *ngIf="f.firstName.errors.pattern">
                First Name should be of only alphabets
              </div>
              <div *ngIf="f.firstName.errors.minlength">
                Minimum length is 2
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Last Name</label>
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
            />
            <div
              *ngIf="submitted && f.lastName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.lastName.errors.required">
                Last Name is required
              </div>
              <div *ngIf="f.lastName.errors.pattern">
                Last Name should be of only alphabets
              </div>
              <div *ngIf="f.lastName.errors.minlength">Minimum length is 2</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Email</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.pattern">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label>Date of Birth</label>
            <input
              type="date"
              formControlName="dob"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.dob.errors }"
            />
            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
              <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
              <div *ngIf="f.dob.errors.pattern">
                Date of Birth must be a valid date in the format YYYY-MM-DD
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              minlength="6"
            />
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label>Confirm Password</label>
            <input
              type="password"
              formControlName="confirmPassword"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && f.confirmPassword.errors
              }"
            />
            <div
              *ngIf="submitted && f.confirmPassword.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.confirmPassword.errors.required">
                Confirm Password is required
              </div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">
                Passwords must match
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Country of Residence</label>
            <select
              type="select"
              class="form-select"
              formControlName="countryOfResidence"
              [ngClass]="{
                'is-invalid': submitted && f.countryOfResidence.errors
              }"
            >
              <option value="">Choose your Country</option>
              <option
                *ngFor="let country of Country"
                [ngValue]="country.countryId"
              >
                {{ country.name }}
              </option>
            </select>
            <div
              *ngIf="submitted && f.countryOfResidence.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.countryOfResidence.errors.required">
                Country of Residence is required
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Address</label>
            <input
              type="text"
              formControlName="address"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
            />
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
              <div *ngIf="f.address.errors.required">Address is required</div>
              <div *ngIf="f.address.errors.pattern">
                Use required format (# street name, zipcode city)
              </div>
              <div *ngIf="f.address.errors.minlength">
                Minimum address length is 10
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Zip Code</label>
            <input
              type="text"
              formControlName="zipCode"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }"
              pattern="^[0-9]*$"
            />
            <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
              <div *ngIf="f.zipCode.errors.required">Zip Code is required</div>
              <div *ngIf="f.zipCode.errors.pattern">
                Zip Code should be a number
              </div>
              <div *ngIf="f.zipCode.errors.minlength">
                Minimum zip code length is 4
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Contact Number</label>
            <input
              type="text"
              formControlName="contactNumber"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }"
              pattern="^[0-9]*$"
            />
            <div
              *ngIf="submitted && f.contactNumber.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.contactNumber.errors.required">
                Contact number is required
              </div>
              <div *ngIf="f.contactNumber.errors.pattern">
                Contact number should be numbers
              </div>
              <div *ngIf="f.contactNumber.errors.minlength">
                Minimum contact number length is 8
              </div>
            </div>
          </div>
        </div>
        <div
          id="user_exists"
          class="alert alert-danger"
          role="alert"
          *ngIf="registrationError"
        >
          The user already exists
        </div>
        <div class="col-auto">
          <button type="submit">register</button>
        </div>
      </form>
    </div>
  </div>
</div>
