<div class="modal-header">
  <h4 class="modal-title pull-left">{{ heading }}</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="modalRef?.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="countryForm">
    <div class="mb-3">
      <label for="name">Name</label>
      <input
        type="text"
        formControlName="name"
        class="form-control"
        placeholder="Country Name"
      />
    </div>
    <div class="mb-3">
      <label for="multiplier">Multiplier</label>
      <input
        type="text"
        formControlName="multiplier"
        class="form-control"
        placeholder="Country Multiplier"
      />
    </div>
    <div class="col-auto mt-3">
      <button (click)="[onClickHandler(), modalRef?.hide()]" type="button">
        {{ buttonName }}
      </button>
    </div>
  </form>
</div>
