#table-data {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table-data td,
#table-data th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table-data tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table-data tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

#table-data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffc107;
  color: white;
}

select {
  border: none;
  background-color: inherit;
}

select:focus {
  outline: none;
}

#Shipment-types-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.shipment-types,
.shipment-types-focus {
  color: #000080;
  background-color: #bfefff;
  padding: 0.5rem 0 0.5rem 0;
  width: 33.333%;
  border-radius: 0.8rem 0.8rem 0 0;
  border-bottom: 0.1rem;
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
}

.shipment-types-focus {
  font-weight: bold;
}
