<div id="Shipment-types-container">
  <div
    [ngClass]="
      focused === shipment_types.ACTIVE
        ? 'shipment-types-focus'
        : 'shipment-types'
    "
    tabindex="1"
    (click)="onActiveClicked()"
  >
    Active
  </div>
  <div
    [ngClass]="
      focused === shipment_types.COMPLETED
        ? 'shipment-types-focus'
        : 'shipment-types'
    "
    (click)="onCompletedClicked()"
    tabindex="2"
  >
    Completed
  </div>
  <div
    [ngClass]="
      focused === shipment_types.CANCELLED
        ? 'shipment-types-focus'
        : 'shipment-types'
    "
    (click)="onCancelledClicked()"
    tabindex="3"
  >
    Cancelled
  </div>
</div>

<table id="table-data">
  <tr>
    <th>Receiver Name</th>
    <th>Tier</th>
    <th>Box Color</th>
    <th>Status</th>
  </tr>

  <tr *ngFor="let row of shipments | searchFilter: searchKey; index as index">
    <td (click)="openModal(template, row.shipmentId!, index)">
      {{ row.receiverName }}
    </td>
    <td (click)="openModal(template, row.shipmentId!, index)">
      {{ row.tier }}
    </td>
    <td
      [ngStyle]="{ 'background-color': row.hexColor }"
      (click)="openModal(template, row.shipmentId!, index)"
    ></td>
    <td *ngIf="sessionService.userSession.authLevel === 2">
      <select #target (change)="shipmentStatusChange(target.value, index)">
        <option
          *ngFor="let shipmentStatus of row.shipmentStatuses"
          [value]="shipmentStatus.shipmentStatusId"
          [selected]="shipmentStatus.shipmentStatusId == row.shipmentStatusId"
        >
          {{ shipmentStatus.status }}
        </option>
      </select>
    </td>
    <td
      *ngIf="sessionService.userSession.authLevel < 2"
      (click)="openModal(template, row.shipmentId!, index)"
    >
      {{ row.shipmentStatuses[0].status }}
    </td>
  </tr>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Shipment Details</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <b>Receiver Address</b>
    <p>{{ shipments[shipmentIndex].address }}</p>

    <b>Country</b>
    <p>{{ shipments[shipmentIndex].country }}</p>

    <b>Price</b>
    <p>{{ shipments[shipmentIndex].price }}</p>

    <div *ngFor="let shipmentHistory of shipmentHistories">
      <b>{{ shipmentHistory.status }}</b>
      <p>{{ shipmentHistory.statusChangeDateTimeFormatted }}</p>
    </div>
    <button (click)="handleCancelShipment()">Cancel Shipment</button>
  </div>
</ng-template>
