<div
  class="container"
  *ngIf="
    sessionService.sessionLoading && (auth.isLoading$ | async);
    else loaded
  "
>
  <app-loading></app-loading>
</div>
<ng-template #loaded>
  <app-nav-bar></app-nav-bar>
  <router-outlet></router-outlet>
</ng-template>
