.navbar-light .navbar-nav .nav-link {
  color: #000080;
  text-transform: uppercase;
}
.navbar-collapse {
  justify-content: end;
}
.logo {
  position: relative;
  color: #000080;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}
.navbar {
  background-color: #aeeaff;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0;
}

.navigation {
  float: right;
  color: #000080;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transform: 0.3s;
}

.navigation a:not(:last-child) {
  margin-right: 30px;
}
.navigation a:hover {
  background: #fff;
  border-radius: 20px;
}

@media (max-width: 960px) {
  .nav-link {
    padding: 0.5rem 8rem;
  }
  .logo {
    position: relative;
    color: #000080;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
  }
}

#account {
  font-size: 2.25rem;
}

#account-container {
  display: flex;
}
