<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid content-wrapper">
    <a class="navbar-brand logo" href="">BOXINATOR</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseBasic"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNavDropdown collapseBasic"
      [collapse]="isCollapsed"
    >
      <ul class="navbar-nav">
        <li
          class="nav-item navigation"
          *ngIf="(auth.isAuthenticated$ | async) === false"
        >
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li
          class="nav-item navigation"
          *ngIf="(auth.isAuthenticated$ | async) === false"
        >
          <a
            class="nav-link"
            href="#"
            (click)="sessionService.loginWithRedirect()"
            *ngIf="(auth.isAuthenticated$ | async) === false"
            >Login</a
          >
        </li>

        <li class="nav-item navigation">
          <a class="nav-link" href="/shipments">Shipments</a>
        </li>
        <li
          *ngIf="sessionService.userSession.authLevel === 2"
          class="nav-item navigation"
        >
          <a class="nav-link" href="/settings">Settings</a>
        </li>
        <li
          id="account-container"
          class="nav-item navigation"
          *ngIf="!onAccountPage && (auth.isAuthenticated$ | async)"
        >
          <a class="nav-link" href="/account"
            ><span id="account" class="material-icons">account_circle</span></a
          >
        </li>
        <li
          class="nav-item navigation"
          *ngIf="onAccountPage && (auth.isAuthenticated$ | async)"
        >
          <a class="nav-link" href="/"
            ><span
              id="account"
              class="material-icons"
              (click)="sessionService.logout()"
              >logout</span
            ></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
