section {
  position: relative;
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(../../../assets/images/Delivery.png);
  background-size: cover;
  background-position: center;
}

.content {
  max-width: 650px;
  margin-top: 60px;
}

p {
  color: #000080;
  text-transform: uppercase;
  font-weight: 500;
}

span {
  color: #ffc107;
  text-decoration: underline #000080;
}

.content .info h2 {
  color: #000080;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

@media (max-width: 960px) {
  .content .info h2 {
    font-size: 45px;
    line-height: 50px;
  }
  section {
    width: 100%;
    height: auto;
    background-image: url(../../../assets/images/Delivery.png);
  }
}

@media (max-width: 560px) {
  .content .info h2 {
    font-size: 35px;
    line-height: 40px;
  }
  section {
    width: 100%;
    height: auto;
    background-image: url(../../../assets/images/Delivery.png);
  }
}
