<section>
  <div class="content-wrapper container-fluid">
    <div class="content">
      <div class="info">
        <h2>
          Deliver <span><i>mystery</i></span> <br />
          to the world!
        </h2>
        <p>
          <i>
            Do you need an intriguing gift to a friend or loved one? Then we got
            you covered... We deliver
            <b>surprise mystery boxes</b> all around the world!
          </i>
        </p>
        <button type="submit" (click)="onClick()">More Info</button>
      </div>
    </div>
  </div>
</section>
