.container {
  display: flex;
  justify-content: center;
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  background-color: #ffc107;
  color: #ffc107;
  box-shadow: 9999px 0 0 -5px #ffc107;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  background-color: #ffc107;
  color: #ffc107;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #ffc107;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #ffc107;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #ffc107;
  }
  30% {
    box-shadow: 9984px 0 0 2px #ffc107;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #ffc107;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #ffc107;
  }
  30% {
    box-shadow: 9999px 0 0 2px #ffc107;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #ffc107;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #ffc107;
  }
  30% {
    box-shadow: 10014px 0 0 2px #ffc107;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #ffc107;
  }
}
