<div class="input-group">
  <span class="input-group-text"> <i class="material-icons">search</i></span>
  <input
    id="search"
    name="search"
    type="search"
    placeholder="Search"
    [(ngModel)]="searchKey"
    (ngModelChange)="emitSearchKey()"
  />
</div>
