<div class="container">
  <div class="main">
    <div class="col-md-12 col-lg-12">
      <form [formGroup]="userInfoForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <label>First Name</label>
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && formControls.firstName.errors
              }"
            />
            <div
              *ngIf="submitted && formControls.firstName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="formControls.firstName.errors.required">
                First Name is required
              </div>
              <div *ngIf="formControls.firstName.errors.pattern">
                First Name should be of only alphabets
              </div>
              <div *ngIf="formControls.firstName.errors.minlength">
                Minimum length is 2
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Last Name</label>
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && formControls.lastName.errors
              }"
            />
            <div
              *ngIf="submitted && formControls.lastName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="formControls.lastName.errors.required">
                Last Name is required
              </div>
              <div *ngIf="formControls.lastName.errors.pattern">
                Last Name should be of only alphabets
              </div>
              <div *ngIf="formControls.lastName.errors.minlength">
                Minimum length is 2
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Email</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && formControls.email.errors
              }"
            />
            <div
              *ngIf="submitted && formControls.email.errors"
              class="invalid-feedback"
            >
              <div *ngIf="formControls.email.errors.required">
                Email is required
              </div>
              <div *ngIf="formControls.email.errors.pattern">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label>Date of Birth</label>
            <input
              type="date"
              formControlName="dateOfBirth"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && formControls.dateOfBirth.errors
              }"
            />
            <div
              *ngIf="submitted && formControls.dateOfBirth.errors"
              class="invalid-feedback"
            >
              <div *ngIf="formControls.dateOfBirth.errors.required">
                Date of Birth is required
              </div>
              <div *ngIf="formControls.dateOfBirth.errors.pattern">
                Date of Birth must be a valid date in the format YYYY-MM-DD
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!accountInfo">
          <div class="col-md-6">
            <label>Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && formControls.password.errors
              }"
              minlength="6"
            />
            <div
              *ngIf="submitted && formControls.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="formControls.password.errors.required">
                Password is required
              </div>
              <div *ngIf="formControls.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="col-md-6" *ngIf="!accountInfo">
            <label>Confirm Password</label>
            <input
              type="password"
              formControlName="confirmPassword"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && formControls.confirmPassword.errors
              }"
            />
            <div
              *ngIf="submitted && formControls.confirmPassword.errors"
              class="invalid-feedback"
            >
              <div *ngIf="formControls.confirmPassword.errors.required">
                Confirm Password is required
              </div>
              <div *ngIf="formControls.confirmPassword.errors.mustMatch">
                Passwords must match
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Country of Residence</label>
            <select
              type="select"
              class="form-select"
              formControlName="countryId"
              [ngClass]="{
                'is-invalid': submitted && formControls.countryId.errors
              }"
            >
              <option value="" hidden>Choose your Country</option>
              <option
                *ngFor="let country of countries"
                [ngValue]="country.countryId"
              >
                {{ country.name }}
              </option>
            </select>
            <div
              *ngIf="submitted && formControls.countryId.errors"
              class="invalid-feedback"
            >
              <div *ngIf="formControls.countryId.errors.required">
                Country of Residence is required
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Address</label>
            <input
              type="text"
              formControlName="address"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && formControls.address.errors
              }"
            />
            <div
              *ngIf="submitted && formControls.address.errors"
              class="invalid-feedback"
            >
              <div *ngIf="formControls.address.errors.required">
                Address is required
              </div>
              <div *ngIf="formControls.address.errors.pattern">
                Use required format (# street name, city)
              </div>
              <div *ngIf="formControls.address.errors.minlength">
                Minimum address length is 6
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Zip Code</label>
            <input
              type="text"
              formControlName="zipCode"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && formControls.zipCode.errors
              }"
              pattern="^[0-9]*$"
            />
            <div
              *ngIf="submitted && formControls.zipCode.errors"
              class="invalid-feedback"
            >
              <div *ngIf="formControls.zipCode.errors.required">
                Zip Code is required
              </div>
              <div *ngIf="formControls.zipCode.errors.pattern">
                Zip Code should be a number
              </div>
              <div *ngIf="formControls.zipCode.errors.minlength">
                Minimum zip code length is 4
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Contact Number</label>
            <input
              type="text"
              formControlName="phoneNumber"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && formControls.phoneNumber.errors
              }"
              pattern="^[0-9]*$"
            />
            <div
              *ngIf="submitted && formControls.phoneNumber.errors"
              class="invalid-feedback"
            >
              <div *ngIf="formControls.phoneNumber.errors.required">
                Contact number is required
              </div>
              <div *ngIf="formControls.phoneNumber.errors.pattern">
                Contact number should be numbers
              </div>
              <div *ngIf="formControls.phoneNumber.errors.minlength">
                Minimum contact number length is 8
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <button type="submit">{{ buttonName }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
