<div class="col-sm-auto">
  <button type="button" (click)="openModal(createShipmentTemplate)">
    <span *ngIf="screenWidth > minScreenWidth">Create Shipment</span>
    <span *ngIf="screenWidth <= minScreenWidth">+</span>
  </button>
</div>

<ng-template #createShipmentTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create Shipment</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="shipmentForm">
      <div class="mb-3" *ngIf="(auth.isAuthenticated$ | async) === false">
        <label for="senderEmail" class="form-label">Sender Email</label>
        <input
          type="text"
          class="form-control"
          formControlName="senderEmail"
          [ngClass]="{
            'is-invalid': submitted && formControls.senderEmail.errors
          }"
          placeholder="Sender Email"
        />
        <div *ngIf="formControls.senderEmail.errors" class="invalid-feedback">
          <div *ngIf="formControls.senderEmail.errors.required">
            Sender email is required
          </div>
          <div *ngIf="formControls.senderEmail.errors.pattern">
            Not a valid email
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="receiverName" class="form-label">Receiver Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="receiverName"
          [ngClass]="{
            'is-invalid': submitted && formControls.receiverName.errors
          }"
          placeholder="Receiver Name"
        />
        <div *ngIf="formControls.receiverName.errors" class="invalid-feedback">
          <div *ngIf="formControls.receiverName.errors.required">
            Receiver name is required
          </div>
          <div *ngIf="formControls.receiverName.errors.pattern">
            Only asic character (a to z) allowed
          </div>
          <div *ngIf="formControls.receiverName.errors.minlength">
            Minimum receiver name length is 2
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="receiverAddress" class="form-label">Receiver Address</label>
        <input
          type="text"
          class="form-control"
          formControlName="receiverAddress"
          [ngClass]="{
            'is-invalid': submitted && formControls.receiverAddress.errors
          }"
          placeholder="# street name, zipcode city"
        />
        <div
          *ngIf="formControls.receiverAddress.errors"
          class="invalid-feedback"
        >
          <div *ngIf="formControls.receiverAddress.errors.required">
            Receiver address is required
          </div>
          <div *ngIf="formControls.receiverAddress.errors.pattern">
            Use required format (# street name, zipcode city)
          </div>
          <div *ngIf="formControls.receiverAddress.errors.minlength">
            Minimum address length is 10
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="destinationCountry" class="form-label"
          >Destination Country</label
        >
        <select
          aria-label="Default select example"
          class="form-select"
          formControlName="countryId"
          [ngClass]="{
            'is-invalid': submitted && formControls.countryId.errors
          }"
        >
          <option value="" disabled selected hidden>Select Country</option>

          <option
            *ngFor="let country of countries; index as index"
            [value]="index"
          >
            {{ country.name }}
          </option>
        </select>
        <div *ngIf="formControls.countryId.errors" class="invalid-feedback">
          <div *ngIf="formControls.countryId.errors.required">
            Country is required
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="weightOption" class="form-label">Tier</label>
        <select
          aria-label="Default select example"
          class="form-select"
          formControlName="tierId"
          [ngClass]="{
            'is-invalid': submitted && formControls.tierId.errors
          }"
        >
          <option value="" disabled selected hidden>Select Tier</option>
          <option *ngFor="let item of tiers; index as index" [value]="index">
            {{ item.name }}
          </option>
        </select>
        <div *ngIf="formControls.tierId.errors" class="invalid-feedback">
          <div *ngIf="formControls.tierId.errors.required">
            Tier is required
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="boxColour" class="form-label">Box Colour</label>
        <input
          type="color"
          class="form-control"
          formControlName="hexColor"
          [ngClass]="{
            'is-invalid': submitted && formControls.hexColor.errors
          }"
          placeholder=" Color"
        />
        <div *ngIf="formControls.hexColor.errors" class="invalid-feedback">
          <div *ngIf="formControls.hexColor.errors.required">
            Colour is required
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <h4>{{ shipmentCost }} DKK</h4>
    <button type="button" (click)="save()">Pay</button>
  </div>
</ng-template>
