#table-data {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table-data td,
#table-data th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table-data tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table-data tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

#table-data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffc107;
  color: white;
}
