<table id="table-data">
  <tr>
    <th>Country</th>
    <th>Multiplier</th>
  </tr>
  <tr
    *ngFor="let country of countries | searchFilter: searchKey"
    (click)="[openModal(template), onCountryClicked(country)]"
  >
    <td>{{ country.name }}</td>
    <td>{{ country.multiplier }}</td>
  </tr>
</table>

<ng-template #template>
  <app-country-form
    heading="Update Country"
    buttonName="Update"
    [modalRef]="modalRef!"
    [country]="country"
    (buttonClicked)="onButtonClicked($event)"
  ></app-country-form>
</ng-template>
